USE [master]
GO
/****** Object:  Database [StudentsDB]    Script Date: 24.10.2025 18:58:16 ******/
CREATE DATABASE [StudentsDB]
GO
USE [StudentsDB]
GO
/****** Object:  UserDefinedFunction [dbo].[SumDigitsInDate]    Script Date: 24.10.2025 18:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[SumDigitsInDate] (@date DATE)
RETURNS INT
AS
BEGIN
    DECLARE @dateStr NVARCHAR(10) = CONVERT(NVARCHAR(10), @date, 120);
    DECLARE @sum INT = 0;
    DECLARE @i INT = 1;
    
    SET @dateStr = REPLACE(@dateStr, '-', '');
    
    WHILE @i <= LEN(@dateStr)
    BEGIN
        SET @sum = @sum + CAST(SUBSTRING(@dateStr, @i, 1) AS INT);
        SET @i = @i + 1;
    END
    
    RETURN @sum;
END;
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 24.10.2025 18:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Score] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Assessment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 24.10.2025 18:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Course] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Study]    Script Date: 24.10.2025 18:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Study](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdStudent] [int] NOT NULL,
	[IdSubject] [int] NOT NULL,
	[IdAssessment] [int] NOT NULL,
 CONSTRAINT [PK_Study] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 24.10.2025 18:58:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assessment] ON 

INSERT [dbo].[Assessment] ([Id], [Score]) VALUES (1, N'5')
INSERT [dbo].[Assessment] ([Id], [Score]) VALUES (2, N'4')
INSERT [dbo].[Assessment] ([Id], [Score]) VALUES (3, N'3')
SET IDENTITY_INSERT [dbo].[Assessment] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [Fullname], [Birthday], [Course]) VALUES (18, N'Иванов И.И.', CAST(N'1989-01-02' AS Date), 5)
INSERT [dbo].[Student] ([Id], [Fullname], [Birthday], [Course]) VALUES (19, N'Петров П.П.', CAST(N'1991-05-13' AS Date), 4)
INSERT [dbo].[Student] ([Id], [Fullname], [Birthday], [Course]) VALUES (20, N'Сидоров В.В.', CAST(N'1990-08-14' AS Date), 4)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Study] ON 

INSERT [dbo].[Study] ([Id], [IdStudent], [IdSubject], [IdAssessment]) VALUES (4, 18, 1, 2)
INSERT [dbo].[Study] ([Id], [IdStudent], [IdSubject], [IdAssessment]) VALUES (5, 19, 1, 3)
INSERT [dbo].[Study] ([Id], [IdStudent], [IdSubject], [IdAssessment]) VALUES (6, 20, 1, 1)
SET IDENTITY_INSERT [dbo].[Study] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Id], [Name]) VALUES (1, N'Информатика')
INSERT [dbo].[Subject] ([Id], [Name]) VALUES (2, N'Экономика')
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
ALTER TABLE [dbo].[Study]  WITH CHECK ADD  CONSTRAINT [FK_Study_Assessment] FOREIGN KEY([IdAssessment])
REFERENCES [dbo].[Assessment] ([Id])
GO
ALTER TABLE [dbo].[Study] CHECK CONSTRAINT [FK_Study_Assessment]
GO
ALTER TABLE [dbo].[Study]  WITH CHECK ADD  CONSTRAINT [FK_Study_Student] FOREIGN KEY([IdStudent])
REFERENCES [dbo].[Student] ([Id])
GO
ALTER TABLE [dbo].[Study] CHECK CONSTRAINT [FK_Study_Student]
GO
ALTER TABLE [dbo].[Study]  WITH CHECK ADD  CONSTRAINT [FK_Study_Subject] FOREIGN KEY([IdSubject])
REFERENCES [dbo].[Subject] ([Id])
GO
ALTER TABLE [dbo].[Study] CHECK CONSTRAINT [FK_Study_Subject]
GO
USE [master]
GO
